@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Phudu:wght@500&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --primarycolor: hsla(39, 91%, 56%, 0.849);
  --accentcolor: darkorange;
}

body {
  width: 100%;
  height: 100%;
}
.landing-page {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(./images/pizzapic.png);
  background-size: cover;
  background-position: center;
}

/* nav part styling start */

nav {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
  font-weight: 600;
  color: var(--primarycolor);
}

nav .logo {
  font-family: "Abril Fatface", cursi;
}
nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  font-size: 1.2em;
  margin: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--primarycolor);
}

/* nav part styling ends */

/* middle text styling start */

.landing-page section {
  width: fit-content;
  text-align: center;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Abril Fatface", cursi;
  color: var(--primarycolor);
}

.landing-page section .firstP {
  font-size: 3em;
}
.landing-page section .secondP,
.thridP {
  font-size: 2em;
}

/* btn styling */
.landing-page section button,
.orderform button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--primarycolor);
  font-size: 1.2em;
}

.landing-page section button a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

/* tittle styling */

.tittle {
  text-align: center;
  margin: 1rem;
}

/* service styling part end */
.tittle {
  color: var(--primarycolor);
  margin-top: 3rem;
}

.Service {
  width: 100%;
  height: 20rem;
}
.Service .square {
  width: 20rem;
  height: 20rem;
  background-color: var(--primarycolor);
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  margin-right: 2rem;
  margin-left: 5rem;
  margin-bottom: 2rem;
}

.Service .square img {
  width: 15rem;
  height: 15rem;
}

.serviceDefnation {
  position: relative;
  top: 10rem;
  width: fit-content;
  text-align: center;
  padding: 1rem;
}

.cafeservice,
.takeaway {
  margin-top: 5rem;
}

/* about section styling part */

.about {
  height: 100vh;
  width: 100%;
  padding: 3rem 1rem 3rem 5rem;
}

.aboutphoto {
  width: 50%;
  height: 90%;
  margin-right: 5rem;
  float: left;
  opacity: 0.7;
  border-radius: 1rem;
  overflow: hidden;
}

.abouttext {
  position: relative;
  top: 50%;
  font-size: 20px;
}

/* order styling part */

.order {
  width: 90%;
  height: 90vh;
  border: solid var(--accentcolor) 0.5px;
  margin: 0 5%;
  display: flex;
}

.order .orderform,
.orderphoto {
  width: 50%;
  height: 100%;
  border: solid va(--accentcolor) 0.5px;
  padding: 3rem;
}

.order .orderform label {
  position: relative;
  top: 5px;
  font-weight: 600;
  margin-top: 1rem;
  color: var(--primarycolor);
}

.order .orderform .input {
  width: 80%;
  outline: none;
  margin: 1rem 0;
  border-top: none;
  border-left: none;
  border-right: none;
}

.orderform button {
  position: relative;
  top: 5rem;
  left: 20rem;
  padding: 20px;
}

.order .orderform input:hover {
  border-bottom: solid var(--primarycolor) 2px;
}

/* order photo styling part */

.orderphoto {
  padding: 0;
}
.orderphoto img {
  width: 100%;
  height: 100%;
}

/* payment part */

.paymentmethod {
  margin: 1.5rem;
}

.paymentmethod p {
  margin-left: 10rem;
}

/* footer styiling part */

footer {
  width: 100%;
  margin-top: 0.5rem;
  border: solid var(--accentcolor) 0.5px;
  background: linear-gradient(
    to top,
    rgba(255, 165, 0, 0.8) 50%,
    rgba(255, 165, 0, 0.8) 50%
  );
}

.addressandlink {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3.5rem;
}

footer .addressside a {
  text-decoration: none;
}

footer .linkside p {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .linkside .icons {
  display: flex;
}

footer .linkside .icons p i {
  width: 100%;
  height: 100%;
  font-size: 2.3em;
}

footer .linkside .icons p i:hover {
  opacity: 0.5;
}

/* Table  style css*/
